/*large screens*/
@media only screen and (max-width : 1200px){
	h5{
		font-size: 1rem;
}
/*medium, devices*/
@media only screen and (max-width : 992px){

}
/*small, tablet*/
@media only screen and (max-width : 768px){
	h1{
		font-size: 1.5rem;
	}
	h3{
		font-size: 1rem;
		padding-top: 0;
	}
	h5{
		font-size: 1rem;
	}
}
/*extra small, phones*/
@media only screen and (max-width : 480px){
	h1{
		text-align-last: center;
		font-size: 1rem;
	}
}
/*custom, iphone*/
@media only screen and (max-width : 320px){

}
