#header {
  background-image: url(img/action-blur-bookcase-356093.png);
  min-height: 600px;
  background-position: top center;
  background-size: cover;
  position: relative;
}
h1,
h3 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  font-size: 2.5rem;
  text-align: right;
}
/* .wrapper .active{
  color: red;
}
.tab_item{
  display: none;
}
.tab_item:first-child{
  display: block;
}
.tabs_header{
  margin-top: 30px;}
  .tabs
    span{
      display: inline-block;
      background: rgba(255,255,255,.25);
      padding: 10px 15px;
      text-transform: uppercase;
      cursor: pointer;
      float: left;
    }
.tab_content{
  background: rgba(255,255,255,.25);
  padding: 15px 18px;
} */
.collapse {
  background-color: #F5F5F5;
  font-size: 1.1em;
}
.verticalLine {
  border-left: 1px solid #DC3545;
}
h5 {
  color: red;
  margin-top: 7px;
  padding-right: 10px;
}
h3 {
  color: #DFE6E1;
  font-size: 2rem;
  padding-top: 23%;
}
.wrap {
  position: relative;
  width: 128px;
  height: 384px;
  margin: 50px auto;
  float: left;
  margin-left: 5%;
  margin-top: -5%;
}
.slider {
  width: 86px;
  height: 384px;
  margin: 50px auto;
  overflow: hidden;
}
.slider__row {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  height: 768px;
  overflow: hidden;
  transition: .1s;
}
.navbar-toggler {
  background: #F5F5F5;
  border-color: #FF3300;
}
.media {
  margin-top: 30px;
}
#box2 {
  background: #EEDFAC;
}
#footer {
  background: #333;
  color: #fff;
  height: 50px;
}
