.collapse{
	background-color: #F5F5F5; 
	font-size: 1.1em;
}
.navbar-toggler{
	background: #F5F5F5;
	border-color: #FF3300;
}
#header{
	background: url(img/action-blur-bookcase-356093.png);
	/* background-size: 100% 100%; */
	display: block;
	height: 600px;
	max-width: 100%;

}
		/*autoslider*/
		#slider{
			width: 384px;
			height: 128px;
/*			border: 5px solid black;
*/			margin: 50px;
			overflow: hidden;
		}
		#polosa{
		/*	background: pink;
		*/	width: 896px;
			position: relative;
			left: 128px;
			transition: all ease 1s;
		}
		#polosa img{
			float: left;
		}
		#polosa::after{
			content: '';
			display: block;
			clear: both;
		}
		/*finish autoslider*/

.tagline{
	color: white;
	font-size: 2.5em;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
	line-height: 40px;
	margin-top: -80px;

}
#content{
	background: #FF3300;
	height: 50px;
	margin-top: 30px;
}
#footer{
	background: #333;
	color: #fff;
	height: 50px;
}